* {
    box-sizing: border-box;   
}

:root {
    /* VARIABLES*/
    --MAIN-THEME: #147b45;
}

body {
    background-image: url("https://w0.peakpx.com/wallpaper/274/582/HD-wallpaper-red-chinese-background-chinese-patterns-chinese-ornaments-red-background-chinese-textures.jpg");
    background-repeat: repeat;
    margin: 0;
}

.header-nav {
    color:white;
    background-color: var(--MAIN-THEME);
}

h1 {
    font-size: 4rem;
}

a:link {
    margin-right: 10px;
}

hr.nav-hr {
    border:1px solid white;
    opacity: 1;
}

.nav-btn {
    background-color: var(--MAIN-THEME);
    color: white;
    font-size:larger;
    padding: 5px;
    margin:0;
}

.nav-btn:hover {
    background-color:#15a359 ;
}

.trending {
    font-weight: bold;
    color: #c76012;
}

.trending:hover{
    background-color: lightcoral;
}

.news-container {
    width:200px;
    height:200px;
    background-color: #15a359;
}

.game-title {
    font-weight: bold;
    font-size: 120%;
}